body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container-rent {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e1823;
}
.rent-yacht {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.yacht-picture {
  width: 100%;
  flex-shrink: 0;
}
.rent-head {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
  margin-top: 0;
}
.rent-form-container {
  max-width: 100%;
}
.rent-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.form-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

.rent-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  background-color: transparent;
  max-width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 0 14px 18px;
}
.rent-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 0 14px 18px;
  height: 108px;
}
.rent-submit-btn {
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  margin-top: 40px;
}
.yacht-picture-img {
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .rent-form-container {
    padding-left: 148px;
    padding-right: 148px;
  }
  .container-rent {
    max-width: 768px;
  }
}
